@*@model List<BloodBankManagement.Models.HomeController>*@
<div class="container">
    <div class="col-md-10 mx-auto">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-12">
                        @if (TempData["msg"] != null)
                        {
                            <h4 class="alert-info">@TempData["msg"].ToString()</h4>
                        }
                    </div>
                </div>
                <div class="pb-3 row">
                    <div class="h4 col-md-12 text-center">
                        <a asp-controller="StaffLogin" asp-action="AddDonor" class="page-link">Add Donor</a>
                    </div>
                </div>
                <div class="pb-3 row">
                    <div class="h4 col-md-12 text-center">
                        <a asp-controller="StaffLogin" asp-action="DeleteDonor" class="page-link">Delete Donor</a>
                    </div>
                </div>
                <div class="pb-3 row">
                    <div class="h4 col-md-12 text-center">
                        <a asp-controller="Search" class="page-link">Search Donor</a>
                    </div>
                </div>
                <div class="pb-3 row">
                    <div class="h4 col-md-12 text-center">
                        <a asp-controller="ListDonor" class="page-link">Donor List</a>
                    </div>
                </div>
                <div class="pb-3 row">
                    <div class="h4 col-md-12 text-center">
                        <a asp-controller="ManageStock" class="page-link">Manage Stock</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>