@*@model List<BloodBankManagement.Models.HomeController>*@

<h1>Blood Bank Management Software</h1>

<p>
    <a asp-controller="StaffLogin" asp-action="AddDonor">Add Donor</a>
</p>

<p>
    <a asp-controller="StaffLogin" asp-action="Delete">Delete Donor</a>
</p>

<p>
    <a asp-controller="StaffLogin" asp-action="Search">Search Donor</a>
</p>

<p>
    <a asp-controller="StaffLogin" asp-action="List">List Donors</a>
</p>

<p>
    <a asp-controller="StaffLogin" asp-action="ManageStock">Manage Stock</a>
</p>