@*@model List<BloodBankManagement.Models.HomeController>*@

<h3>Blood Bank Management Software</h3>
<p>
    @if (TempData["msg"] != null)
    {
    <h4>@TempData["msg"].ToString()</h4>
    }
</p>
<p>
    <a asp-controller="StaffLogin" asp-action="AddDonor">Add Donor</a>
</p>

<p>
    <a asp-controller="StaffLogin" asp-action="DeleteDonor">Delete Donor</a>
</p>

<p>
    <a asp-controller="StaffLogin" asp-action="Search">Search Donor</a>
</p>

<p>
    <a asp-controller="ListDonor">List Donors</a>
</p>

<p>
    <a asp-controller="StaffLogin" asp-action="ManageStock">Manage Stock</a>
</p>