@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Welcome To</p>
    <h1 class="display-4">Blood Bank Management System</h1>
    <p>A one stop website to manage donors and stocks in a Blood Bank.</p>
</div>
